




/* question 2 */
/* body{
  background-color: black;
  color:white;
}
.css{
  position:relative;
  left: 30px;
  padding:10px;
  
}
.css1{
  display :flex;
  flex-direction: row;
  height: 100px;
  width : 100px;
}  */